<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav>
        <div class="nav-wrapper teal">
            <a href="#" class="brand-logo">PMSystem</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
                <li><a class="dropdown-button" data-activates="dropdown1">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
                <li><a class="dropdown-button" data-activates="mobile_dropdown">Admin<i class="material-icons right">arrow_drop_down</i></a></li>
               
            </ul>
            <ul id="dropdown1" class="dropdown-content">
                <li>@Html.ActionLink("Users","Users","Admin")</li>
                <li><a href="#">two</a></li>
                <li class="divider"></li>
                <li><a href="#">three</a></li>
            </ul>
            <ul id="mobile_dropdown" class="dropdown-content">
                <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                <li><a href="#">two</a></li>
                <li class="divider"></li>
                <li><a href="#">three</a></li>
            </ul>

        </div>
    </nav>

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Project Management System</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/material")
    @RenderSection("scripts", required: false)
</body>
</html>
