@using PMSystem.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "../Shared/_SimpleLayout.cshtml";
}

<div class="row">
    <div class="col s12 m8 offset-m2 l3 offset-l4 z-depth-4" style="background: white">
        <div class="card-title teal lighten-2" style="margin: -22px -12px 12px -12px; padding: 12px 12px 12px 12px">
            <h5 style="color: white">Login</h5>
        </div>
        <div id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-field">
                    @Html.TextBoxFor(m => m.Email, new { @class = "validate", placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="input-field">
                    @Html.PasswordFor(m => m.Password, new { @class = "validate", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
                <p>
                    <input type="checkbox" id="RememberMe" />
                    <label for="RememberMe">Remember me</label>
                </p>
                <input type="submit" value="Log in" class="btn waves-effect waves-light" />

                <p class="white-text text-lighten-4 center">
                    © 2017 Project Management System
                </p>

            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}